<h1>Add a Stylist</h1>
<p>Add a Stylist here:</p>

<form action="/stylist" method="post">
  <label for="stylistName">Stylist Name</label>
  <input type="text" name="stylistName" id="stylistName">
  <button type="submit">Add</button>
</form>

<p> <a href="/">Back Home</a> </p>
<p> <a href="/stylist">Back to stylists.</a> </p>
